/* src/styles/footer.module.css */
.footerContainer {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px; /* Espaciado */
    text-align: center; /* Centrar texto */
    font-size: 14px; /* Tamaño de fuente */
  }
  
  .footerContainer p {
    margin: 0; /* Eliminar margen */
  }
  
  .footerContainer a {
    color: #fff; /* Enlaces blancos */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Negrita */
  }
  
  .footerContainer a:hover {
    color: #ffd700; /* Color dorado en hover */
    text-decoration: underline; /* Subrayado en hover */
  }
  